/*******************************************************************************
 Add your custom css styles here*/

.show-hid-content {
	left: 85px;
}

.vertical-gallery  .box-item {
	padding: 0px 145px;
}



/*
 *******************************************************************************/
/*RESPONSIVE*/
@media screen and (max-width: 640px) {

.bg.contact_responsive {
    background-position: right;
  }

.nav-holder{
	height: 230px;
}
}



@media screen and (min-width: 1440px){

.vertical-gallery  .box-item {
	padding: 0px 125px;
}

.section-columns {
	height: 97%;
}


.full-about-wrp {
	padding: 450px 0px;
}

.custom-inner {
	float:left;
	width:100%;
	padding: 230px 0 70px 0;
	position:relative;
	z-index:5;
}


.section-columns-img {
	position:absolute;
	top:0;
	left:0;
	width:40%;
	height:100%;
}


.section-columns-text {
	float:right;
	width:60%;
	position:relative;
	background:#292929;
	padding: 200px 60px;
	height: 100%;
}

}

